.env
.enb
main.exe
.codegraph/
tmp/
.idea
*.pem
sowfkun-verse.pem
server-test/
.servers/
tools/*.exe
tools/*.bin
app-api
sowfkun-verse-infrastructure/api/app-api
app-gateway
sowfkun-verse-infrastructure/gateway/app-gateway
tools/bin/
*.tar.gz
*.zip
