# Redis Configuration
REDIS_IMAGE=redis:alpine
REDIS_PORT=6379
REDIS_PASSWORD=sowfkun_redis_secure_pass_2026

# Memory Allocation (Tăng số này khi nâng RAM server)
REDIS_MAX_MEMORY=512mb
REDIS_CONTAINER_MEMORY_LIMIT=600M
