# OpenSearch Configuration
OPENSEARCH_IMAGE=opensearchproject/opensearch:latest
OPENSEARCH_PORT=9200

# JVM Heap & Memory Allocation (Tăng khi nâng RAM server)
OPENSEARCH_JVM_HEAP="-Xms384m -Xmx384m"
OPENSEARCH_CONTAINER_MEMORY_LIMIT=650M
