# Redpanda (Kafka) Configuration
KAFKA_PORT=9092
KAFKA_OUTSIDE_PORT=9094
SCHEMA_REGISTRY_PORT=8081
PANDAPROXY_PORT=8082
CONSOLE_PORT=8085

# Điền IP Public hoặc Private VPC của server này
REDPANDA_ADVERTISED_HOST=127.0.0.1

# Memory & CPU Allocation (Tăng khi nâng RAM server)
REDPANDA_SMP=1
REDPANDA_MEMORY=512M
REDPANDA_CONTAINER_MEMORY_LIMIT=600M
