# Tên Hostname cố định cho Replica Set (Tránh lỗi đổi tên khi recreate)
MONGO_CONTAINER_HOSTNAME=app_mongo
MONGO_PORT=27017

# Điền IP Public hoặc Private VPC của server này để Change Streams hoạt động đúng
MONGO_ADVERTISED_HOST=127.0.0.1

# Memory Allocation (Tăng khi nâng RAM server)
MONGO_CONTAINER_MEMORY_LIMIT=850M

# Connection URI Format (Đã hỗ trợ Change Streams, Transactions & Atlas Search out-of-the-box):
# mongodb://<SERVER_IP>:27017/<DB_NAME>?directConnection=true
